html
  head
    script(src='http://localhost:8001/libs/underscore/underscore.js')
    script(src='http://localhost:8001/libs/backbone/backbone.js')
    script(src='http://localhost:8000/faye/client.js')
    script(type='text/javascript').
      Faye.logger = function(message) {
        console.log(message);
      };
      var faye = new Faye.Client('http://localhost:8000/faye');
      faye.subscribe('/line');
      faye.subscribe('/fullPrematch');
    title
      | Faye Client
  body